<!DOCTYPE html>
<html lang="en">
  <head>
    
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    
    <title>Roman number converter</title>
    
  </head>

  <body ng-app="myApp" ng-cloak>

      <!-- /container -->
    <div ng-controller="mainCtrl" ng-cloak>
      
      <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Roman number converter</h2>
        </div>
      </md-toolbar>
        
        <md-content class="md-padding" layout-xs="column" layout="row">
          <div flex-xs flex-gt-xs="40" layout="column">
          <md-card md-theme="default" md-theme-watch>
            <md-card-title>
              <md-card-title-text>
                <md-input-container class="md-icon-float md-icon-right md-block">
                  <label>Integer number (1-3499)</label>
                  <md-icon md-svg-src="img/icons/ic_card_giftcard_24px.svg"></md-icon>
                  <input ng-model="input" type="number" step="1" max=3499 min=0>
                  <md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>
                  <hr>
                  <span class="md-headline">{{value}}</span>
                </md-input-container>
              </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-raised md-warn" ng-click="reset()">Reset</md-button>
              <md-button class="md-raised md-primary" ng-click="convert()">Convert</md-button>
            </md-card-actions>
          </md-card>
        </div>
      </md-content>
    </div>

    <!-- javascripts -->

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

      <!-- Controllers -->
    <script>
    
      var app = angular.module("myApp", ['ngMaterial'], function() {
        
      });

      app.controller("mainCtrl", function($scope) {

        $scope.value = "";
        $scope.input = 0;

        $scope.reset = function() {
          $scope.input = 0;
          $scope.value = "";
        }

        $scope.convert = function() {
          var num = $scope.input;
          $scope.value = "";
          var res = "";
          var q = Math.floor(num/1000);
          while(q>0) {
              res = res + "M";
              q--;
          }
          num = num%1000;
          q = Math.floor(num/100);

          if(q == 9) {
              sb.append("CM");
              q = 0;
          } else if( q < 9 && q>=5) {
            res = res + "D";
            q = q-5;
            while(q>0) {
                res = res + "C";
                q--;
            }
          } else if( q == 4) {
              res = res + "CD";
              q = 0;
          } else {
              while(q>0) {
                res = res + "C";
                q--;
              }
          }

          num = num%100;
          q = Math.floor(num/10);

          if(q == 9) {
              res = res + "XC";
              q = 0;
          } else if( q < 9 && q>=5) {
              res = res + "L";
              q = q-5;
              while(q>0) {
                  res = res + "X";
                  q--;
              }
          } else if( q == 4) {
             res = res + "XL";
              q = 0;
          } else {
              while(q>0) {
                  res = res + "X";
                  q--;
              }
          }

          q = num%10;

          if(q == 9) {
              res = res + "IX";
              q = 0;
          } else if( q < 9 && q>=5) {
              res = res + "V";
              q = q-5;
              while(q>0) {
                  res = res + "I";
                  q--;
              }
          } else if( q == 4) {
              res = res + "IV";
              q = 0;
          } else {
              while(q>0) {
                res = res + "I";
                q--;
              }
          }
          $scope.value = res;
        }

      });
    
    </script>

  </body>
  
</html>
